/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}





/*------------------------------------*\
    UlrichDev Styles
\*------------------------------------*/
/* do we really need styles? */
a {
	color: #00c;
}
a:visited {
	color: #c0c;
}

body {
	background-color: #fff;
	color: #000;
	font-family: sans-serif;
}

code,pre {
	border: 1px solid #ccc;
	border-radius: 0.3em;
	font-family: courier-new,monospace;
	margin: 0.1em;
	padding: 0.1em 0.2em;
}

code {
	display: inline-block;
}

pre {
	padding: 0.5em;
}

pre code {
	border: none;
}

div.blog-roll {
	
}

.blue {
	color: #00c;
}

.body-wrapper {
	max-width: 1024px;
	margin: 0 auto;
}

.bordered {
	background: linear-gradient(
		176deg,
		#ccc,
		#fff 4em
	);
	border: 1px solid #ccc;
	border-radius: 1em;
	margin-bottom: 1em;
	padding: 1em;
}

.center {
	text-align: center;
}

.content {
	min-height: 500px;
}

.dark {
	color: #333;
}

.footer {
	
}

.header {
	margin-top: 1em;
}

.menu-list {
	margin: auto;
}

.menu-list li {
	display: inline-block;
	margin: 0 1.75em 0 1.75em;
}

.section {
	margin-bottom: 1em;
}

h1,h2,h3,h4,h5,h6 {
	color: #000;
	font-weight: bold;
	margin: 1em 0;
}

h1 {
	font-size: 1.25em;
	margin: 0 0 1em 0;
}

h2 {
	background: linear-gradient(
		178deg,
		#ccc,
		#fff 2em
	);
	border-top-left-radius: 0.5em;
	font-size: 1.25em;
	margin: 1em 0 0.5em 0;
	padding: 0.5em 0 0.5em 0.5em;
}

h3,h4,h5 {
/* 	font-size: 100%; */
}

h6 {
	color: #fff;
	font-size: 2em;
	margin: 0.5em 0;
}

ol,ul {
/*	list-style: square; */
}

ol>li,ul>li {
	line-height: 1.25em;
	margin-left: 1em;
}

p {
	line-height: 1.25em;
	margin: 1.0em 0;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}
